/!
  status變數為販售狀態
  reserve：預訂中
  survey：印量調查中
  inStock：販售中
  outOfStock：完售


- off_201805 = \
{ title: "終將與你並肩前行",
  cover_url: "",
  original: "遊戲王VRAINS",
  cp: "遊了",
  author01: "A.S",
  author02: "鬱離",
  r18: false,
  price: 100,
  exlink: "" }
